In [163]:
import subprocess
import os
import argparse
import pandas as pd
import requests
from sqlalchemy import create_engine
from dotenv import load_dotenv
import logging
from sqlalchemy import text
import os
import subprocess
import duckdb
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import datetime

load_dotenv()
DATABASE_URL = f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}"
engine = create_engine(DATABASE_URL)

In [56]:
engine 
start_year=2024 
end_year=2024 
parquet_folder = 'data/raw/nflfastr/'

In [249]:
weekly_df = pd.read_sql("SELECT * FROM weekly_stats", engine)
players_df = pd.read_sql("SELECT * FROM players", engine)
teams_df = pd.read_sql('SELECT * FROM teams', engine)
games_df = pd.read_sql('SELECT * FROM games', engine)
depth_df = pd.read_sql('SELECT * FROM depth_chart', engine)
injuries_df = pd.read_sql('SELECT * FROM injuries', engine)
schedule_df = pd.read_sql("SELECT season, week, stadium, game_date FROM games", engine)
base_features_df = pd.read_sql("SELECT * FROM player_weekly_features", engine)

In [ ]:
base_features_df

,player_id,player_name,player_display_name,position,team_abbreviation,season,opponent_team,week,attempts,completions,...,passing_tds,targets,receptions,carries,rushing_yards,rushing_tds,receiving_yards,receiving_tds,target_share,fantasy_points
0,32104,A.Abdullah,Ameer Abdullah,RB,MIN,2021,CIN,1,0,0,...,0,2,2,1,4.0,0,15.0,0,0.042553,1.90
1,32104,A.Abdullah,Ameer Abdullah,RB,MIN,2021,ARI,2,0,0,...,0,1,0,0,0.0,0,0.0,0,0.031250,0.00
2,32104,A.Abdullah,Ameer Abdullah,RB,MIN,2021,SEA,3,0,0,...,0,0,0,5,24.0,0,0.0,0,NaN,2.40
3,32104,A.Abdullah,Ameer Abdullah,RB,MIN,2021,CLE,4,0,0,...,0,1,1,0,0.0,0,2.0,0,0.027778,0.20
4,32104,A.Abdullah,Ameer Abdullah,RB,MIN,2021,DET,5,0,0,...,0,0,0,1,2.0,0,0.0,0,NaN,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21899,37013,Z.Wilson,Zach Wilson,QB,NYJ,2023,LAC,9,49,33,...,0,0,0,2,7.0,0,0.0,0,NaN,7.22
21900,37013,Z.Wilson,Zach Wilson,QB,NYJ,2023,LV,10,39,23,...,0,0,0,4,54.0,0,0.0,0,NaN,13.92
21901,37013,Z.Wilson,Zach Wilson,QB,NYJ,2023,BUF,11,15,7,...,1,0,0,4,15.0,0,0.0,0,NaN,6.74
21902,37013,Z.Wilson,Zach Wilson,QB,NYJ,2023,HOU,14,36,27,...,2,0,0,3,12.0,0,0.0,0,NaN,19.24
21903,37013,Z.Wilson,Zach Wilson,QB,NYJ,2023,MIA,15,11,4,...,0,0,0,0,0.0,0,0.0,0,NaN,-0.96