In [11]:
df = pd.read_csv("../data/processed/player_weekly_stats.csv")  # IGNORE

In [12]:
df

,season,week,player_id,name,team,team_id,position,opponent,fantasy_points,targets,carries,depth_position,injury_status
0,2023,1,39163,AJ Henning,MIA,19.0,WR,NaN,9.68,1,4,SWR,NaN
1,2023,1,39165,AJ Henning,MIA,19.0,WR,NaN,1.10,0,3,SWR,NaN
2,2023,1,39164,AJ Henning,MIA,19.0,WR,NaN,20.92,0,10,SWR,NaN
3,2023,1,29293,Akeem Spence,NaN,NaN,DT,NaN,-1.20,6,0,NaN,NaN
4,2023,1,29701,Al-Quadin Muhammad,DET,10.0,DE,NaN,2.42,0,3,RDE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5614,2023,22,30506,Michael Gonzalez,ATL,1.0,OL,NaN,9.30,10,0,OL,NaN
5615,2023,22,37834,Ross Dwelley,SF,27.0,TE,NaN,15.40,0,3,TE,NaN
5616,2023,22,34386,Samaje Perine,CIN,6.0,RB,NaN,5.40,5,0,RB,NaN
5617,2023,22,34286,Sua Opeta,TB,29.0,G,NaN,0.00,1,0,OL,NaN
5618,2023,22,29892,Zackary Bowman,NaN,NaN,CB,NaN,3.30,2,1,NaN,NaN