In [9]:
import pandas as pd

df = pd.read_csv("../data/processed/player_weekly_stats.csv")
print(df.columns)
df.head()

Index(['season', 'week', 'player_id', 'name', 'team', 'team_id', 'position',
       'opponent', 'fantasy_points', 'targets', 'carries', 'depth_position',
       'injury_status'],
      dtype='object')

,season,week,player_id,name,team,team_id,position,opponent,fantasy_points,targets,carries,depth_position,injury_status
0,2023,1,34775,AJ Henning,MIA,19.0,WR,NaN,0.90,3,0,SWR,NaN
1,2023,1,35657,Adrian Frye,NaN,NaN,DB,NaN,1.90,2,1,NaN,NaN
2,2023,1,39146,Ahmed Hassanein,DET,10.0,DE,NaN,4.60,5,1,RDE,NaN
3,2023,1,39150,Ahmed Hassanein,DET,10.0,DE,NaN,7.54,0,3,RDE,NaN
4,2023,1,33308,Alec James,NaN,NaN,DE,NaN,0.60,1,2,NaN,NaN